*{
    font-family: Arial, Helvetica, sans-serif;
}
.baner,footer{
    background-color: #AF4448;
    color: white;
    text-align: center;
    height: 20px;
    clear: both;
}
.lewy,.prawy{
    background-color: #FFA4A2;
    height: 650px;
    width: 50%;
    float: left;

}
h4{
    padding: 0px;
}
button{
    background-color: #AF4448;
    color: white;
    margin: 5px;
    padding: 10px;
}